body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
}
h1 {
	font-size: 2em;
}
h1, h2, ul {
	margin-top: 5px;
	margin-bottom: 5px;
}
h3{
	font-size: 1.2em;
	margin-top: 5px;
	margin-bottom: 5px;
}
a, a:visited, a:hover, a:active {
	color: #0054bF;
}
#titleSection {
	text-align: center;
}
#titleHeading {
	display: inline-block;
}
#titleSection, #rulesContentWrapper, #rulesLowerToggleContainer a, #rulesPageBody {
	background-color: rgba(200, 215, 230, 0.9);
}